.logo img{
    width: 10rem;
    height: 3rem;
    cursor: pointer;
}
.nav .nav-ul a li{
    list-style: none;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.8s ease;
}
.nav .nav-ul a{
    color: white;
}
.nav .nav-ul a:hover{
    text-decoration: none;
}
.nav .nav-ul li:hover{
    color: var(--orange);
}
.hidden{
    display: none;
}
.hidden i{
    color: white;
    padding: 10px;
    background: var(--orange);
    border-radius: 15px;
    transition: 0.8s ease;
    cursor: pointer;
}
.hidden i:hover{
    color: var(--orange);
    background: white;
}
.show-nav ul li{
    list-style: none;
    width: 100%;
    cursor: pointer;
    color: white;
    margin-top: 10px;
    transition: 0.9s ease;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.show-nav ul{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.show-nav ul li:hover{
    background: var(--orange);
}
.show-nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.show-nav ul li{
    border: 1px solid var(--orange);
}
@media (max-width: 992px) {
    .nav .nav-ul{
        display: none !important;
    }
    .logo img{
        width: 7rem;
        height: 2rem;
    }
    .hidden{
        display: block;
    }
}