/* make variables */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --lightgray: #D9D9D9;
  --gray: #9c9c9c;
  --button : #FCA61F;
  --orange: #f48915;
  --darkGrey: #464D53;
  --caloryCard: #656565;
  --planCard: linear-gradient(210.41deg, #fa5042 1.14%, #ffa739 100.75%);
  --appColor:  #3c3f45;
}

.App {
  background-color: var(--appColor);
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
  /* overflow: hidden; */
}
::-webkit-scrollbar{
  display: none;
}
.stroke{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: transparent;
  font-family: 'Finlandica', sans-serif;
}
.but{
  padding: 10px 25px;
  background: var(--orange);
  border: 1px solid var(--orange) !important;
  color: white;
  transition: 0.8s ease;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  border: 2px solid white !important;
}
.but:hover{
  background: white;
  color: var(--orange);
}
.button {
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 20px;
  width: 80px;
  font-weight: bold;
}
.heading{
  display: flex;
  font-size: 3rem;
  justify-content: center;
  font-weight: bold;
  margin-top: 100px;
  gap: 25px;
}

.button:hover {
  background: white;
  cursor: pointer;
  border: 1px solid var(--button);
  color: var(--button);
}